.blog-add-form {
  margin: 20px 0;
  padding: 15px;
  border: solid 1px #ccc;
  display: none;
  &.active {
    display: block;
  }
}

.blog-main {
  margin-top: 20px;

  .blog-post {
    padding: 15px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
  }

}

.blog-footer {
  text-align: center;
}




